.App{
    max-width: 800px;
    margin: 0 auto;
    margin-block: 5rem;
}

header{
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: #f8fafc;
}

form{
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
    display: flex;
}

.input-task{
display: flex;
flex: 1;
}

input{
    background-color: #1e293b;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    color: #f1f5f9;
    border: none;
    }

.btn-header{
    padding: 1rem;
}

.options{
    padding: 1.2rem;
    background-color: #1e293b;
    color: #f1f5f9;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.task-list{
    display: flex;
    color: #eef2ff;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: relative;
}

.task{
    background-color: #7570d7;
    max-width: 80%;
    flex: 1;
    font-weight: 600;
    padding: 1.2rem;
    transition: 500ms ease-in-out;
}

.btn{
    padding-inline: 10px;
    border: none;
    cursor: pointer;
}

.btn-complete{
    background-color: #10b981;
}
.btn-delete{
    background-color: #334155;
}

/* tasks */

.task-done{
    background-color: #7570d799;
    text-decoration: line-through #eef2ff90 2px;
    color: #4059a0;
    transition: text-decoration 300ms ease-in-out;
}
